<a class="active item" href="/">Chatroom</a>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="item">
    <% if logged_in? %>
      <%= link_to logout_path, method: :delete, data: {confirm: "Are you sure you want to logout?"}, class: "ui primary button" do %>
        Logout
      <% end %>
    <% else %>
      <a class="ui primary button" href="/login">Login</a>
    <% end %>
  </div>
</div>
